<div class="body" id="capture">
    <img [src]="image" class="background" height="100%" width="100%" alt="Background image">
    <div class="title">{{title}}</div>
    <div class="logo" id="mydiv" >
        <img [src]="logo" height="40" width="40" alt="logo" id="mydivheader" />
    </div>
</div>

<button type="button" class="submitbtn download">
<a [href]="banner" target="_self" download style="text-decoration: none;color:white;">
    Download Banner
</a>
</button>
<button type="submit" class="submitbtn more" (click)="editMore()">
        Edit More
</button>