
  
  body{
    font-family: 'Open Sans', sans-serif;
    // background:#e2e2e2;
  }
  
  svg{
    position:fixed;
    top:10px;
    left:180px;
  }
  
  .container{
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
  //  background-color: white;
   max-width: 500px;
   max-height: 400px;
   height: 100%;
   width: 100%;
   opacity: 0.8;
   box-shadow: rgba(0,0,0,0.45) 2px 4px 6px;
  }
  
.form{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    width: 90%;
    max-height: 100%;
    height: 90%;
}
.title{
    padding: 10px;
    border-radius: 8px;
    font-size: 17px;
    color: gray;
    border: none;
}

.title:focus-visible{
  outline: none;
}


  

  
  


  
  
  
 
  

  
  
  